<a href="https://colab.research.google.com/github/arabs-in-neuro/intro_to_comp_neuro/blob/main/python_workshop/05_Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![](https://www.tutorialspoint.com/batch_script/images/for_statement_list_implementations.jpg)

# for Statement

Syntax:


```
for var in sequence:
  statements
```

In [ ]:
for i in [1,2,3,4]:
  print(i)

1
2
3
4

In [ ]:
numbers={'one':'واحد', 'two':'اثنين', 'three':'ثلاثه'}
names=['Jon','Smith',"عمر","Nora",'Julie']

In [ ]:
for i in numbers:
  print(i) #prints only keys!

one
two
three

In [ ]:
for x in names:
  print(x)

Jon
Smith
عمر
Nora
Julie

In [ ]:
print(x)

Julie

In [ ]:
for i in numbers:
  print(numbers)

for i in numbers:
  print(i)

{'one': 'واحد', 'two': 'اثنين', 'three': 'ثلاثه'}
{'one': 'واحد', 'two': 'اثنين', 'three': 'ثلاثه'}
{'one': 'واحد', 'two': 'اثنين', 'three': 'ثلاثه'}
one
two
three

In [ ]:
for i in numbers.keys():
  print(i)
#to print values of the numbers (in arabic)
for i in numbers.values():
  print(i)

one
two
three
واحد
اثنين
ثلاثه

In [ ]:
for i in range(6): #recall - starts at 0 ends at 5
  print(i)

0
1
2
3
4
5

In [ ]:
# recall:
print(range(1,4))

range(1, 4)

In [ ]:
# to see the actual values without for loop
print(list(range(1,4)))

[1, 2, 3]

## Using if inside the loop

In [ ]:
#let us pring even numbers only from 1 to 100
for i in range(0,100):
  if i%2==0:
    print(i,end=" ")#???

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [ ]:
#let us automate
#user to enter the numbers n
n=int(input("enter n:"))

for i in range(0,n+1):
  if i%2==0:
    print(i,end=" ")#???

enter n:100
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
#no zero
n=int(input("enter n:"))

for i in range(1,n+1):
  if i%2==0:
    print(i,end=" ")#???

enter n:100
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
print(names)

['Jon', 'Smith', 'عمر', 'Nora', 'Julie']

In [ ]:
for name in names:
  if name.startswith("J"): #only names that start with J
    print(name)

Jon
Julie

In [ ]:
# Double if!! 
#check if number between 0 and 200
n=int(input("enter n (between 0 and 200):"))

for i in range(0,n+1):
  if n>=1 and n<=200:
    if i%2==0:
      print(i,end=" ")#???
  else:
    print("Please re-enter n")

enter n (between 0 and 200):20
0 2 4 6 8 10 12 14 16 18 20

# Break!

In [ ]:
# Break 
#check if number between 0 and 200
n=int(input("enter n (between 0 and 200):"))

for i in range(0,n+1):
  if n>=1 and n<=200:
    if i%2==0:
      print(i,end=" ")#???
  else:
    print("Please re-enter n") #print once then break
    break

enter n (between 0 and 200):201
Please re-enter n

# Looping through two variables

In [ ]:
print(numbers.items())

dict_items([('one', 'واحد'), ('two', 'اثنين'), ('three', 'ثلاثه')])

In [ ]:
for var1,var2 in numbers.items():
  print(var1,"\t",var2)

one 	 واحد
two 	 اثنين
three 	 ثلاثه

In [ ]:
print(names)

['Jon', 'Smith', 'عمر', 'Nora', 'Julie']

In [ ]:
# another way:
for index,j in enumerate(names):
  print(index,"  ",j)

0    Jon
1    Smith
2    عمر
3    Nora
4    Julie

In [ ]:
#You can use str
for i in 'Hello':
  print(i)

H
e
l
l
o

In [ ]:
#print unique letter
uniq=[]
for i in 'Hello':
  if i not in uniq:
    print(i)
  uniq.append(i)

H
e
l
o

# Nested For

In [ ]:
letters=['a','b','c']
names=['apple','ball','car','duck']
for i in range(len(letters)):
  print("first loop no",i)
  for j in range(len(names)):
    print('second loop no',j)
    print(letters[i]," ",names[j])

first loop no 0
second loop no 0
a   apple
second loop no 1
a   ball
second loop no 2
a   car
second loop no 3
a   duck
first loop no 1
second loop no 0
b   apple
second loop no 1
b   ball
second loop no 2
b   car
second loop no 3
b   duck
first loop no 2
second loop no 0
c   apple
second loop no 1
c   ball
second loop no 2
c   car
second loop no 3
c   duck

In [ ]:
#print matches only
letters=['a','b','c']
names=['apple','ball','car','duck']
for i in range(len(letters)):
  #print("first loop no",i)
  for j in range(len(names)):
    if names[j].startswith(letters[i]):
    #print('second loop no',j)
      print(letters[i]," ",names[j])
  print() #new line

a   apple

b   ball

c   car

# Pass

In [ ]:
#print matches only
letters=['a','b','c']
names=['apple','ball','car','duck']
for i in range(len(letters)):
  #print("first loop no",i)
  for j in range(len(names)):
    if not names[j].startswith(letters[i]):
      pass
    #print('second loop no',j)
    else:
      print(letters[i]," ",names[j])
  print() #new line

a   apple

b   ball

c   car

# While loop

In [ ]:
x=1 #must initilise
while x<=10:
  print(" "*(10-x)+"*"*x+"*"*x)
  x=x+1 #!!!!

         **
        ****
       ******
      ********
     **********
    ************
   **************
  ****************
 ******************
********************

# Possible Errors

1- the one we just saw! silent  error