<a href="https://colab.research.google.com/github/arabs-in-neuro/intro_to_comp_neuro/blob/main/python_workshop/06_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Built-in Functions

In [ ]:
print("test") # you call the funtion with name()
#"test" is called argument

test

In [ ]:
#recall
print(min('test'))
print(min("Test"))
print(type((3,4,5)))
print(max(3,4,5))

e
T
<class 'tuple'>
5

In [ ]:
# getting help with built-in func
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
#in an ipynb
?print

In [ ]:
#another way
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

# Define own Functions

```
def fun_name(args):
  statement(s)
  return(some_value)
```

In [ ]:
print(sum([1,2,3,4])) #recall

10

In [ ]:
#let us do the same
def cal_sum(value):
  summ=0
  for i in value:
    summ=summ+i
  return(summ)

In [ ]:
print(cal_sum([1,2,3,4]))

10

In [ ]:
print(cal_sum([1,2,3,4])==sum([1,2,3,4]))

True

## Return multiple Values

In [ ]:
#split()
print('hi there'.split())

['hi', 'there']

In [ ]:
# help?
help(split)

NameError: ignored

In [ ]:
#because it's a string attribute
help(str.split)

Help on method_descriptor:

split(...)
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

In [ ]:
def sep_name(name):
  return(name.split())

In [ ]:
print(sep_name("This is a test!!"))

['This', 'is', 'a', 'test!!']

# Retun different Values w/Conditions

In [ ]:
def is_even(number):
  if number%2 ==0:
    return True
  else:
    return False

In [ ]:
print(is_even(8))

True

In [ ]:
print(is_even(9))

False

## Add Help/Doc

In [ ]:
print(help(cal_sum))

Help on function cal_sum in module __main__:

cal_sum(value)
    #let us do the same

None

```
def fun_name(args):
''' This function does so and so
args:
n: describe its type'''
  statement(s)
  return(some_value)
```

In [ ]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
# Let us redefine cal_sum
def cal_sum(value):
  '''cal_sum(value) is a function that adds up values of an array-like value
  args:
  value: a list-like value/variable of numeric values
  returns:
  sum of the values
  '''
  summ=0
  for i in value:
    summ+=i
  return(summ)

In [ ]:
print(help(cal_sum))

Help on function cal_sum in module __main__:

cal_sum(value)
    cal_sum(value) is a function that adds up values of an array-like value
    args:
    value: a list-like value/variable of numeric values
    returns:
    sum of the values

None

# Functions without return

In [ ]:
def no_return(): #no neeed to take a value for this 
  print("Hi there")

In [ ]:
#call it
no_return() #no args passed

Hi there

In [ ]:
print(no_return())

Hi there
None

In [ ]:
x = no_return()
print(x)

Hi there
None

In [ ]:
#abother ex with args
def print_me(value):
  print(value)

print_me('Print this test')

Print this test

# Choosing names

In [ ]:
# Do not use keywords
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'dreload', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [ ]:
# do not startwith a number
3sum = "test"

SyntaxError: ignored

In [ ]:
#only use "_" but not special cahr
number=5
sum_3 = 3+number

In [ ]:
#you can start with _
_sum = 'test'

In [ ]:
#alway test if a name is keyword
"sum" in dir(__builtin__)

True

# Assigning Functions to a variable

In [ ]:
# in case the fun returns something!! 
x= cal_sum([1,1,1,1])
print(x)

4

In [ ]:
#recall
sep_name('1 2')

['1', '2']

In [ ]:
#for multiple values
#either
x,y = sep_name('Mohamed Ali')
print(x,"\t",y)

Mohamed 	 Ali

In [ ]:
name,_ = sep_name("Barak Obama")

In [ ]:
print(name)

Barak

In [ ]:
#another way
names = sep_name("Donald Trump")
print(names)

['Donald', 'Trump']

In [ ]:
print(names[-1])

Trump

#Optional Arguments

In [ ]:
def Divide(a,b=1): #b is optional and has defualt value
  return(a/b)

In [ ]:
print(Divide(3))

3.0

In [ ]:
print(Divide(3,b=3))

1.0

In [ ]:
print(Divide(a=6,b=2))

3.0

In [ ]:
print(Divide(1,3))

0.3333333333333333

In [ ]:
#if you want all args tp be keywords args:
def Multiply(*,a,b):
  print(a*b)

In [ ]:
Multiply(a=2,b=2)

4

# Composing Functions

In [ ]:
#recall
print(type("test"))

<class 'str'>

In [ ]:
print(min(range(3,7)))

3

In [ ]:
def cal_mean(List):
  '''calculates mean of a list-like value'''
  out = cal_sum(List)/len(List)
  return(out)

In [ ]:
print(cal_mean([1,1,1,1]))

1.0

#Possible Errors

In [ ]:
print(Divide())

TypeError: ignored

In [ ]:
print(help(sum))

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

None

In [ ]:
print(sum([1,1,1,1],strat=3))

TypeError: ignored

In [ ]:
print(sum([1,1,1,1],3))

7

In [ ]:
print(Multiply(1,2))

TypeError: ignored

In [ ]:
print(help(Multiply))

Help on function Multiply in module __main__:

Multiply(*, a, b)
    #if you want all args tp be keywords args:

None